/* SignUpForm.css */
* {
    margin:0,
}

.signup-container{

    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: #3498db; 
}


    .signup-form{
        background: rgba(255,255,255,0.8);
        padding: 20px;
        border-radius: 8px ;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        text-align: center;
    }

    .signup-form h2{
        color: #333;
    }
    .signup-form label {
        display: block;
        margin: 10px 0;
    }
    
    .signup-form input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .signup-form button {
        width: 100%;
        background-color: #2ecc71;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .signup-form button:hover {
        background-color: #27ae60;
    }